<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">Formulaire invalide</div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :firstname, :placeholder => "prénom", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :lastname, :placeholder => "nom", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :email, :placeholder => "email", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :city, :placeholder => "ville", :class => "form-control" %>
  </div>
  <%= f.submit "Je signe", :class => "btn btn-primary" %>
<% end %>