<% if notice %>
<div class="alert alert-success" style="margin-top: 35px;"><%= notice %></div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Lettre ouverte au Premier Ministre de l'État d'Israël,<br> <i>Mr Benyamin Netanyahou</i> <span class="label label-success pull-right"><%= @count %> signatures!</span></h1><br>


<div class="jumbotron">
  <p>À notre cher Premier Ministre,</p>
  <p>Cher Mr Netanyahou,</p>
  <p>Nous vivons, dans la période actuelle, un moment historique.</p>
  <p>Nos frères juifs vivant actuellement en France se trouvent dans une situation périlleuse. L'assimilation, par ses effets dévastateurs, décime littéralement la population juive de ce pays depuis plusieurs décennies. À ce malheur, vient se rajouter le fléau antisémite qui ressurgit, et qui oppresse nos frères moralement et physiquement.</p>
  <p>Dans le souci quotidien d'assurer leur subsistance, ou quelquefois par peur de faire face au défi de quitter la France, ces Juifs qui nous sont si chers ont du mal à trouver la sortie du labyrinthe qui retarde encore le retour vers leur Terre, celle d'Israël. C'est à nous, les habitants de Sion, que revient la tâche de leur tendre la main, de les sortir de la prison dans laquelle ils croupissent depuis déjà trop longtemps et d'où ils ne pourront se sortir seuls.</p>
  <p>Les premiers sionistes n'ont pas ménagé leurs critiques à l'égard de ceux qui, à l'époque, n'ont pas encouragé, voire même ont empêché, la montée des Juifs en Terre d'Israël, et les ont ainsi condamnés à une fin désastreuse dans la Shoah. Cette grave erreur leur a certainement retiré à jamais le droit de dire : "nos mains n'ont pas versé ce sang là".</p>
  <p>Et voilà qu'aujourd'hui, les dirigeants politiques sionistes qui détiennent le pouvoir et la capacité d'intervenir, restent quasiment inactifs face au triste sort qui guette les juifs de France !</p>
  <p>Un ingénieux plan d'action, "<strong>la France d’abord</strong>" a été élaboré par une équipe dirigée par Bari Bar-Tzion, Raphi Barzilai et Dr Dov Maïmon. Ce plan vise à sensibiliser les Juifs de France, à renforcer les structures d’accueil existantes et à agir de manière ciblée en coordination avec les différents ministères concernés. Il se propose d'acheminer une grande partie du judaïsme français en Israël, ce qui aurait pour résultat de propulser la société israélienne en avant dans tous les domaines.</p>
  <p>Malheureusement, des politiciens et des bureaucrates détournent les moyens nécessaires à la réussite de ce plan. Ils mettent ce projet en danger et menacent de le faire échouer, au détriment de nos frères Juifs de France, chair de notre chair.</p>
  <p>Ceux-ci, du fait des mariages mixtes (60 à 80 %, selon les régions) sont les victimes d'une Shoah silencieuse qui sévit et s'aggrave de jour en jour. Il serait inadmissible que de basses ambitions personnelles, asservies aux intérêts de certains partis politiques, ruinent un projet dont l'importance est capitale pour le peuple d'Israël dans son ensemble !</p>
  <p>Il y a 38 ans, votre frère Yoni, de mémoire bénie, avec ses compagnons de commando, dans un acte de courage hors du commun et au sacrifice de sa propre vie, sauva d'une mort certaine plus de 100 otages juifs français kidnappés par des terroristes. Il repoussa les limites du don de soi pour le sauvetage de ses frères, et imprima à jamais ses propres valeurs au plus haut dans la conscience de notre nation entière. Il renforça la motivation et l'esprit de sacrifice chez nos soldats, qui la défendent chaque jour.</p>
  <p>Mr Netanyahou, le moment est venu de marcher sur les traces de votre frère Yoni (z"l), en sanctifiant votre vie par le sauvetage des Juifs de France. Le moment est venu de mettre un terme aux combines de ces politiciens, et de mettre en application les valeurs dont vous êtes, au titre de Chef de l'État, le premier défenseur et le garant.</p>
  <p>Ne laissez pas les Juifs de France aller à leur perte !!</p>
  <p>Agissez dans ce sens et, avec l'aide de Dieu, votre nom restera inscrit dans notre Histoire, comme celui qui aura ramené les Juifs de France de l'exil, celui qui, par son action, aura rendu l'État et le peuple d'Israël plus vigoureux encore.</p>
  <p> </p>
  <p>Très respectueusement,</p>
  <p> </p>
  <p>Yossef Ben-Shoushan</p>
  <p>Président de "Oz lé-Israël"</p>
  <p><strong>Mouvement « Oz Lé-Israël » -</strong>(<strong>תנועת "עוז לישראל" </strong>(מס עמותה:580255289</p>
  <p><strong>Rehov Harav Tsvi Yehouda 1 Jerusalem 96103 הרב צבי יהודה 1 ירושלים</strong></p>
  <p><strong>E-mail: ozleisrael@neto.net.il Tel: 02-651 80 99 טל: Fax: 02-653 68 13 פקס:</strong></p>
  <p> </p>
</div>
    
    <%= link_to 'Ajouter votre signature', new_user_path, :class => "btn btn-primary btn-lg" %>
    <br><br>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <!-- <th></th>
            <th></th>
            <th></th> -->
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.firstname %></td>
              <td><%= user.lastname %></td>
              <td><%= user.email %></td>
              <!-- <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>